<!-- footer section -->
<section class=" footer_section ">
    <div class="social_box">
      <a href="#">
        <img src="/static/images/facebook.png" alt="">
      </a>
      <a href="#">
        <img src="/static/images/twitter.png" alt="">
      </a>
      <a href="#">
        <img src="/static/images/linkedin.png" alt="">
      </a>
      <a href="#">
        <img src="/static/images/instagram.png" alt="">
      </a>
      <a href="#">
        <img src="/static/images/youtube.png" alt="">
      </a>
    </div>
    <p>
      &copy; 2020 All Rights Reserved. Design by
      <a href="https://html.design/">Free Html Templates</a>
    </p>
  </section>
  <!-- footer section -->

</div>
<div class="col-md-6  px-0">
  <div class="img-box">
    <img src="/static/images/footer-img.jpg" alt="">
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- end info section -->