<!DOCTYPE html>
<html>
<head>
    <title>Video PAGE</title>
</head>
<body>
    <video width="1080" height="480" controls>
        <source src="/static/Ruaan Full Song Tiger 3 Salman Khan, Katrina Kaif Pritam, Arijit Singh, Irshad Kamil, New Song.mkv" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</body>
<br>
<b>SAVED MOVIES</b>
    <br>
</br>
    <label for="title">Title:</label><br>
    <input type="text"value= {{ tn }}><br>

    <label for="title">Director:</label><br>
    <input type="text" value={{ gnn }}><br>

    <label for="title">Genre:</label><br>
    <input type="text"value={{ gnn }}><br>

    <label for="title">Year:</label><br>
    <input type="text"value={{ ynn }}><br>

</html>
